 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'jost';
    }

    body {
      background-color: #d9f1e9;
      color: #222;
    }

    header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 15px 30px;
       background-color: white;
       color: black;
    }

    .logo{
      font-size: 30pt;
      font-weight: bold;
    }

    header h1 {
      font-size: 24px;
    }

    .auth-buttons button {
      margin-left: 10px;
      padding: 8px 16px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-weight: 500; 
    }

    .auth-buttons .login {
     background-color: transparent;
     color: black;
     font-size: 15pt;
     font-weight:bold ;
     font-family: 'jost';
    }

    .auth-buttons .signup {
     background-color: #05EFAB;
     color: white;
     border: none;
     font-size: 14pt;
     font-weight: bold;
     font-family: 'jost';
    }

    .container {
      background: white;
      margin: 20px auto;
      padding: 30px;
      border-radius: 10px;
      width: 90%;
      max-width: 1200px;
    }

    .search-bar {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    .main {
      display: flex;
      margin-top: 30px;
    }

    .sidebar {
      width: 250px;
      margin-right: 30px;
    }

    .filters h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    .filters button, .filters input, .filters select {
      margin: 5px 0;
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid #ccc;
      width: 100%;
    }

    .documents {
      flex: 1;
    }

    .doc-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .sortby{
        font-size: 12pt;
        padding: 4px;
        border-radius: 10px;
    }

    .doc-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .doc-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background: #f9f9f9;
      border-radius: 8px;
      border: 2px solid #cbcbcb;
    }

    .doc-info {
      display: flex;
      flex-direction: column;
    }
    
    .download{
     padding: 4px;
     font-size: 1.2rem;
     background: none;
     border: none;
    }

    .doc-info span:first-child {
      font-weight: 600;
    }

    .doc-info span:last-child {
      color: #00b3aa;
      font-size: 14px;
    }

    .doc-tag {
      background: #fbbf24;
      color: white;
      padding: 4px 10px;
      border-radius: 999px;
      font-size: 12px;
    }

    .doc-actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    footer {
      padding: 40px;
      text-align: center;
      font-size: 14px;
    }

    